doctype html
html
  head(lang="en")
      meta(charset="utf-8")
      meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
      meta(http-equiv="X-UA-Compatible" content="IE=edge")
      meta(name="author" content="www.stubhub.com")
      meta(name="Copyright" content="www.stubhub.com")
      meta(name="Description" content="Happy Mock Server")
      meta(name="Keywords" content="Happy Mock Server")

      title=title

      mixin common-link(url)
          link(rel='stylesheet', href=url)
      mixin common-script(url)
          script(src=url)

      //styles
      block styles
          //Bootstrap
          +common-link('/css/common/bootstrap.min.css')
          <!--[if lt IE 8]>
          +common-link('/css/common/bootstrap-ie7fix.min.css')
          <![endif]-->

          //jsoneditor
          +common-link('/css/jsoneditor/jsoneditor.css')
          //common
          +common-link('/css/common/common.css')

  body
    block header
    block content
    block footer

    //scripts
    block scripts
        //jQuery
        +common-script("/js/common/jquery-1.11.1.min.js")
        +common-script("/js/common/bootstrap.min.js")

        //jsoneditor
        +common-script("/js/jsoneditor/jsoneditor.min.js")
        +common-script("/js/jsoneditor/ace.js")
        +common-script("/js/jsoneditor/theme-jsoneditor.js")
        +common-script("/js/jsoneditor/theme-textmate.js")
        +common-script("/js/jsoneditor/jsonlint.js")